.titleAndLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 8px;
}

.title {
    flex: 1;
    max-width: 1000px;
    display: flex;
    align-items: center;
}

.logoTitle {
    width: 75px;
    /*noinspection CssNegativeValue*/
    order: -1;
}

.divider {
    background-color: #e3e3e380;
    height: 2px;
    flex-grow: 1;
}

.divider.first {
    margin-left: 8px;
}

.titleAndLogo .divider.last {
    margin-left: 8px;
}

.name {
    margin: auto;
}

.title .name h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin: 0 8px;
}

.content {
    margin: 8px auto;
    padding: 16px;
    display: flex;
    align-items: center;
    align-content: center;
    max-width: 900px;
}

.image {
    background: #e3e3e380;
    display: inline-grid;
    align-content: center;
    justify-content: center;
    min-height: 75px;
    min-width: 75px;
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
}

.image img {
    max-height: 50px;
    margin: 4px;
}

.content p {
    margin: 0;
    text-align: justify;
}

.contact {
    margin-top: 16px;
    color: #004878;
    text-align: right;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
    align-content: space-around;
}

.contact a, .contact a:hover {
    text-decoration: none;
    color: #004878;
}

.socialNetwork {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-gap: 8px;
    margin-bottom: 8px;
}

.socialNetwork mat-icon {
    margin-top: calc(50% - 14px);
    color: #0078ae;
}
