<div class="titleAndLogo">
    <div class="title">
        <div class="divider first"></div>
        <div class="name">
            <h1>{{name}}</h1>
        </div>
        <div [class]="logo !== '' ? 'divider last' : 'divider'"></div>
    </div>
    <div class="logoTitle">
        <div *ngIf="logo !== ''" class="image">
            <img [src]="logo" alt="">
        </div>
        <div *ngIf="logo === ''" [class]="logo === '' ? 'divider last' : 'divider'"
             style="width: 75px">
        </div>
    </div>
</div>

<div class="content">
    <div class="description">
        <p *ngFor="let description of descriptions">
            {{description}}
            <br *ngIf="description !== descriptions[descriptions.length - 1]">
            <br *ngIf="description !== descriptions[descriptions.length - 1]">
        </p>
        <div *ngIf="mail !==''" class="contact">
            <div class="socialNetwork" *ngIf="facebookUrl !== ''">
                <mat-icon svgIcon="facebook"></mat-icon>
                <a target="_blank" [href]="facebookUrl">{{facebookName !== '' ? facebookName : facebookUrl}}</a>
            </div>
            <div class="socialNetwork" *ngIf="twitterUrl !== ''">
                <mat-icon svgIcon="twitter"></mat-icon>
                <a target="_blank" [href]="twitterUrl">{{twitterName !== '' ? twitterName : twitterName}}</a>
            </div>
            <div class="socialNetwork" *ngIf="linkedinUrl !== ''">
                <mat-icon svgIcon="linkedin"></mat-icon>
                <a target="_blank" [href]="linkedinUrl">{{linkedinName !== '' ? linkedinName : linkedinName}}</a>
            </div>
            <div class="socialNetwork" *ngIf="mail !== ''">
                <mat-icon svgIcon="mail"></mat-icon>
                <a [href]="'mailto:' + mail">{{mail}}</a>
            </div>
        </div>
    </div>
</div>

