<div class="form">
    <div class="firstForm">
        <mat-form-field id="title">
            <input [(ngModel)]="article.title" autocomplete="off" matInput name="title" placeholder="Titre" required
                   type="text"/>
            <mat-error>Ce champ doit être renseigné</mat-error>
        </mat-form-field>
        <mat-select (selectionChange)="changeAsso($event)" *ngIf="user.canPublishAs.length > 1"
                    id="category"
                    placeholder="Publier en tant que" required>
            <mat-option *ngFor="let publishAs of user.canPublishAs" [value]="publishAs">
                {{publishAs}}
            </mat-option>
        </mat-select>
        <div *ngIf="user.canPublishAs.length === 1">
            <p>{{user.canPublishAs[0]}}</p>
        </div>
    </div>
    <mat-form-field>
            <textarea [(ngModel)]="article.content" matInput name="content" placeholder="Contenu" required
                      type="text"></textarea>
        <mat-error>Ce champ doit être renseigné</mat-error>
    </mat-form-field>
    <div id="eventLinkForm">
        <label for="eventLinked">Lier à l'événement</label>
        <mat-select (selectionChange)="article.eventLinked = $event.value"
                    [placeholder]="article.category === undefined || article.category === '' ? 'Choisir une asso' : 'Aucun'"
                    id="eventLinked" required>
            <mat-option [value]="undefined">Aucun</mat-option>
            <mat-option *ngFor="let event of events" [value]="event">
                {{event.title}}
            </mat-option>
        </mat-select>
    </div>
    <app-file-upload (downloadableOn)="imageToDisplay = $event"
                     (uploadedOnURL)="article.imageUrl = $event"
                     *ngIf="imageToDisplay ===''"
                     [displayedTitle]="'Ajouter une image'"
                     [expectedType]="'image'"
                     [subFolder]="'articleImages'"></app-file-upload>
    <img *ngIf="imageToDisplay !== ''" [src]="imageToDisplay" alt="">

</div>
