<div>
    <div class="firstForm">
        <mat-form-field id="title">
            <input [(ngModel)]="notification.title" autocomplete="off" matInput name="title" placeholder="Titre"
                   required
                   type="text"/>
            <mat-error>Ce champ doit être renseigné</mat-error>
        </mat-form-field>
        <mat-form-field id="body">
            <input [(ngModel)]="notification.body" autocomplete="off" matInput name="body" placeholder="Body"
                   required
                   type="text"/>
            <mat-error>Ce champ doit être renseigné</mat-error>
        </mat-form-field>
        <mat-form-field id="sendBy">
            <input [(ngModel)]="notification.sendBy" autocomplete="off" matInput name="sendBy" placeholder="SendBy"
                   required
                   type="text"/>
            <mat-error>Ce champ doit être renseigné</mat-error>
        </mat-form-field>
        <div style="text-align: center">
            <button (click)="sendNotification()" color="primary" mat-raised-button type="submit">
                Send Notification
            </button>
        </div>

    </div>
    <p>{{ message | async | json }}</p>
</div>
